body {
   padding: 0;
   margin: 0;
}



/*Header*/

.header {
    
}


.h1 {
    font-family: 'Fondamento', cursive;
    margin: 0;
    text-align: center;
    font-size: 42px;
}


.images {
    width: 100%;
    height: 800px;
    
    
    
}

h4 {
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
}

h2{
    font-family: 'Yellowtail', cursive;
    font-size: 50px;
    text-align: center;
}

ul {
    font-size: 20px;
}




/* Slider */

.slider {
    min-width: 0;
    position: relative;
   
}

.slider-item {
    display: flex;
    justify-content: space-between;
   height: 600px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slick-dots {
    border: none;
   list-style: none;
   font-size: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}

.slick-dots button {
   font-size: 0px;
   width: 20px;
   height: 20px;
   background-color: #e5e5e5;
   border-radius: 50px;
   display: flex;
   box-shadow: none;
   margin-right: 5px;
}







