body {

}



/*Header*/

.header {
    
}


.h1 {
    font-family: 'Fondamento', cursive;
    margin: 0;
    text-align: center;
    font-size: 42px;
}


.images {
    width: 100%;
    height: 800px;
    
    
    
}

h4 {
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
}

h2{
    font-family: 'Yellowtail', cursive;
    font-size: 50px;
    text-align: center;
}

ul {
    font-size: 20px;
}












